.emailBorder {
  @media (min-width: 1280px) {
    background: radial-gradient(
      48.87% 768.38% at 0% 49.83%,
      #1f3262 0%,
      #142244 100%
    );
  }
}

.messageBorder {
  background: radial-gradient(
    97.24% 1528.96% at -48.37% 50%,
    #1f3262 0%,
    #142244 100%
  );
  border-radius: 19px;
}

.bigBorder {
  @media (max-width: 1279px) {
    background: radial-gradient(
      97.24% 1528.96% at -48.37% 50%,
      #1f3262 0%,
      #142244 100%
    );
  }
}
