@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  --ll-blue: #0c162d;
  --teal-dark: #42e8e0;
  --teal: #01fef0;
  --white: white;
  --white-dark: #f4f4f4;
  --txt-btn-dark: #020244;
  --txt-dark: #202020;
  --bg-footer: #0b0b0b;
  --bold: 700;
  --semiBold: 600;
  --extraBold: 800;
  --fontBlack: 900;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  --maxWidth: 72rem;
}

ul {
  list-style-type: none;
}

@mixin bg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg--white {
  @include bg;
  background-color: var(--white);
  color: var(--txt-dark);
}

.bg--blue {
  @include bg;
  background-color: var(--ll-blue);
  color: var(--white);
}

.section {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--maxWidth);
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 68px;
  font-size: 14px;
  font-weight: var(--semiBold);
  padding: 1.25rem 5rem;
  width: fit-content;
  cursor: pointer;
}

.imgContainer {
  width: 100%;
  height: auto;
}

h2 {
  font-weight: 900;
  font-size: 2.25rem;
}
