@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  --ll-blue: #03035f;

  --teal-dark: #42e8e0;
  --teal: #01fef0;
  --white: white;
  --white-dark: #f4f4f4;
  --txt-btn-dark: #020244;
  --txt-dark: #202020;
  --bg-footer: #0b0b0b;
  --bold: 700;
  --semiBold: 600;
  --extraBold: 800;
  --fontBlack: 900;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

@mixin bg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg--white {
  @include bg;
  background-color: var(--white);
  border: 1px solid green;
}

.bg--blue {
  @include bg;
  background-color: var(--ll-blue);
  border: 1px solid green;
}

// .bg-blue {
//   background-color: var(--ll-blue);
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

.section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  // border: 1px solid orange;
}

.btn {
  border-radius: 68px;
  font-size: 14px;
  font-weight: var(--semiBold);
  padding: 20px 80px;
  width: fit-content;
  cursor: pointer;
}
