@import './mixin.scss';

h1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 36px;
  color: var(--txt-resume);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.3rem;
  & span {
    font-weight: 400;
  }
  @include for-tablet-landscape-up {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  @include for-tablet-landscape-up {
    font-size: 2.125rem;
    margin-right: 1rem;
  }
}

p {
  font-size: 14px;
  @include for-tablet-landscape-up {
    font-size: 2.125rem;
    font-size: 1.5rem;
    margin-top: 0.625rem;

    padding-right: 0;
  }
}

h3 {
  font-size: 12px;
}

ul {
  list-style-type: none;
}

hr {
  margin-bottom: 0.75rem;
  width: 3rem;
  border: 0.1rem solid;
}
body {
  background-color: white;
}
.wrapper {
  display: grid;
  max-width: 1280px;
  display: flex;
  flex-direction: column;

  color: var(--txt-resume);
  & > * {
    padding: 1rem;
  }
  & hr {
    background-color: var(--txt-resume);
    color: var(--txt-resume);
    border-color: var(--txt-resume);
  }
}

.photo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin-top: -40px;
  margin-bottom: -27px;
  z-index: 2;
  & img {
    width: 12.125rem;
  }
}

.name {
  text-align: center;
}

.contact {
  padding: 1rem;

  color: white;
  background-color: var(--txt-resume);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  .extLink {
    width: 1.2rem;
  }

  a {
    color: white;
    text-decoration: none;
    z-index: 2;
  }
  .city {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.perso {
  background-color: var(--txt-resume);
  padding: 2rem 1rem 2rem;
  color: white;
  text-transform: capitalize;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
  }
}

.competences {
}

.formations {
  li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1rem;
  }
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--txt-resume);
  color: white;
  h2 {
    margin-top: 1rem;
  }
  hr {
    background-color: white;
    color: white;
    border-color: white;
  }
}
.loisirs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  div {
    align-self: flex-end;
  }
  p {
    text-align: center;
    text-transform: uppercase;
  }
}
