.card {
  background-color: #fafafa;
  color: #202020;
  display: flex;
  justify-content: space-between;
  border-radius: 19px;
  min-width: 558px;
  height: 193px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 11px;
    width: 100%;
    h1 {
      font-weight: var(--fontBlack);
      font-size: 18px;
    }
    img {
      max-width: 90px;
    }
  }

  .content {
    background-color: #ffffff;
    width: 405px;
    border-radius: 0 19px 19px 0;

    .rectangle {
      margin-top: 26px;
      margin-bottom: 16px;
      width: 405px;
      height: 10px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .list {
      font-size: 14px;
      font-weight: 700;

      margin-right: 34px;
      &:before {
        content: "";
        display: inline-block;
        margin-right: 9px;
        width: 10px;
        height: 10px;
      }
    }
  }
}
